:root {

    --culoare-primara-400: hsl(158, 36%, 37%);
    --culoare-primara-500: hsl(158, 36%, 17%);
    --culoare-secundara-200: hsl(30, 38%, 92%);

    --culoare-neutra-600: hsl(212, 21%, 14%);
    --culoare-neutra-400: hsl(228, 12%, 48%);
    --culoare-neutra-200: hsl(0, 0%, 100%);


    --ff-special:'Fraunces', serif;
    --ff-normal: 'Montserrat', sans-serif;

    --fw-regular : 500;
    --fw-bold : 700;


}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  h1, h2, h3 {
    line-height: 1.1;
  }

body {

    font-family: var(--ff-normal);
    font-weight: var(--fw-regular);
    font-size: 0.875rem;
    color: var(--culoare-neutra-400);
    background-color: var(--culoare-secundara-200);
    display: grid;
    place-content: center;
    margin: 2rem;
    
}

.flex-group {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
     align-items: center; /* Aliniaza cele 2 preturi pe mijloc */
    /* border: 3px solid rgb(95, 61, 11);  */ /* Bordura pentru a delimita elementele preturi */
    
}
.product {
    display: grid;
    background-color: var(--culoare-neutra-200);
    border-radius: 0.5rem;
    overflow: hidden;
    --content-padding: 1.5rem;
    --content-spacing: 0.5rem;
    max-width: 650px;
    
}

@media (min-width: 650px) {

  .product {
    grid-template-columns: 1fr 1fr;
  }
}

.product__img{
  overflow: hidden;
  /* width:max-content; */
  /* border: 2px solid rgb(188, 100, 187); */
}

.product__content {
    
    display: grid;
    gap: var(--content-spacing);
    /* border: 3px solid rgb(255, 234, 7); */
    padding: var(--content-padding);
    
}

.product__category {
  letter-spacing: 0.5rem;  
  font-size: 0.8125rem;
  text-transform: uppercase;
  /* border: 3px solid rgb(19, 4, 20);  */
}

.product__title {
    font-size: 2rem;
    font-family: var(--ff-special);
    color: var(--culoare-neutra-600);
    /* border: 3px solid rgb(80, 67, 215); */
}
.pretul__produsului-redus {

    font-family: var(--ff-special);
    color: var(--culoare-primara-400);
    font-size: 2rem;
    /* border: 3px solid rgb(95, 61, 11); */
}

.button {

    cursor: pointer;
    color: var(--culoare-neutra-200);
    background-color: var(--culoare-primara-400);
    border-radius: 0.5rem;
    padding: 0.8em 1.5em;
    display: inline-flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    border: 0;
    font-weight: var(--fw-bold);
    font-size: 1rem;
    text-decoration: none;
}

.button:is(:hover, :focus) {
    background-color: var(--culoare-primara-500);
    
}

.button[data-icon="shopping-cart"]::before {
  content: "";
  background-image: url(images/icon-cart.svg);
  width: 15px; 
  height: 16px;
}

.linkulmeu {
  text-align: center;  /* centreaza div-ul "linkulmeu" in mijlocul paginii*/
  margin: 1rem;
}
  



